i
<body>
  <div class="container-fluid p-0">
    <div class="container-fluid block1 p-0">
      <nav
        class="navbar navbar-expand-md navbar-dark container-fluid position-fixed nav mb-5 bg-white"
        style="top: 0"
      >
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="#">
            <img src="../assets/logo.svg" alt="logo" />
          </a>
          <button
            class="navbar-toggler"
            style="background-color: #00a5f4"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link text-black"
                  href="#product"
                  role="button"
                  aria-expanded="false"
                >
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active text-black"
                  aria-current="page"
                  href="#solution"
                  >Solutions</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="#pricing">Pricing</a>
              </li>
            </ul>
            <ul class="navbar-nav sm-icons">
              <li>
                <a class="nav-link" href="https://sec.cmcati.vn/sca">
                  <img src="../assets/sign-in-btn.svg" alt="sign in btn" />
                </a>
              </li>
              <li>
                <a class="nav-link" href="#">
                  <img src="../assets/try for free.svg" alt="try for free" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div
        class="container d-flex justify-content-center align-items-center"
        style="flex-direction: column"
      >
        <h1 class="under-nav">Tự động hóa xử lý tài liệu bằng AI</h1>
        <h4>Giảm thời gian và nhân lực xử lý tài liệu</h4>
        <div class="row d-flex">
          <div class="input-group mt-2 justify-content-center">
            <input
              type="text"
              class="form-control input-title"
              placeholder="Enter your email"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
            <div class="input-group-prepend input-title">
              <span>
                <img src="../assets/btn-input-email.svg" alt="input btn" />
              </span>
            </div>
          </div>
          <img class="video" src="../assets/video-img.svg" alt="img-video" />
        </div>
      </div>
      <div
        class="container d-flex justify-content-center align-items-center h-75 slide-text"
      >
        <div class="title-carousel">
          <img
            src="../assets/left-double-quotation-mark.svg"
            alt="left-double-quotation-mark"
            style="width: 5%"
            class="mb-3"
          />
          <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h2 class="text-carousel">
                  “OCR Technology from CMC enables us to greatly enhance the
                  sh3eed and quality at which we deliver greenhouse gas
                  emissions insights to our customers. We are excited to work
                  closely with them as a key h3artner in exh3anding Earth
                  Finance's Scoh3e 3 decarbonization solution set.”
                </h2>
                <div class="author d-flex">
                  <img
                    class="mx-4"
                    style="margin-left: 0 !important"
                    src="../assets/img-author.svg"
                    alt="tac gia"
                  />
                  <div>
                    <span>Garrett Kephart </span><br />
                    <span> President at Earth Finance, Inc.</span>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <h2 class="text-carousel">
                  “asdasdasdeliver greenhouse gas emissions insights to our
                  customers. We are excited to work closely with them as a key
                  h3artner in exh3anding Earth Finance's Scoh3e 3
                </h2>
                <div class="author d-flex">
                  <img
                    class="mx-4"
                    style="margin-left: 0 !important"
                    src="../assets/img-author.svg"
                    alt="tac gia"
                  />
                  <div>
                    <span>Garrett Kephart </span><br />
                    <span> President at Earth Finance, Inc.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="container justify-content-end p-0 d-flex mt-3">
              <!-- Left and right controls/icons -->
              <div class="contain-btn">
                <button
                  class="btn-carousel"
                  type="button"
                  data-bs-target="#demo"
                  data-bs-slide="prev"
                >
                  <span>
                    <img src="../assets/previous-btn.svg" alt="previous-btn" />
                  </span>
                </button>
                <button
                  class="btn-carousel"
                  type="button"
                  data-bs-target="#demo"
                  data-bs-slide="next"
                >
                  <span>
                    <img src="../assets/next-btn.svg" alt="next-btn"
                  /></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid block3" id="solution">
        <div
          class="container d-flex justify-content-center mb-5"
          style="max-width: 532px; text-align: center"
        >
          <h1>Xử lý tài liệu dễ dàng hơn bao giờ hết với AI</h1>
        </div>
        <div class="container d-flex justify-content-around mb-5">
          <div class="row contain-feature">
            <div class="col-md col-sm">
              <img src="../assets/Vector1.svg" alt="Vector1" />
              <h2>1-2 giây/ tài liệu</h2>
              <p style="color: #a9a9a9">
                Thời gian xử lý 1-2s/trang tài liệu. Giảm thời gian xử lý xuống
                3-5 lần
              </p>
            </div>
            <div class="col-md col-sm">
              <img src="../assets/vector2.svg" alt="Vector1" />
              <h2>Giảm 40% chi phí</h2>
              <p style="color: #a9a9a9">
                Tiết kiệm 30-40% chi phí so với xử lý thủ công
              </p>
            </div>
            <div class="col-md col-sm">
              <img src="../assets/vector3.svg" alt="Vector1" />
              <h2>98% độ chính xác</h2>
              <p style="color: #a9a9a9">
                Độ chính xác lên tới 98%, vượt trội hơn so với nhập dữ liệu thủ
                công.
              </p>
            </div>
            <div class="col-md col-sm">
              <img src="../assets/vector4.svg" alt="Vector1" />
              <h2>20+ văn bản</h2>
              <p style="color: #a9a9a9">
                Hỗ trợ hơn 20 loại tài liệu từ CCCD đến hoá đơn
              </p>
            </div>
          </div>
        </div>
        <div class="container d-flex justify-content-center img-demo">
          <img src="../assets/Frame 16.svg" alt="Frame16" />
        </div>
      </div>
      <div class="container-fluid block4">
        <div class="container">
          <h2 class="mb-5">
            Tại sao lại chọn <span style="color: #00a5f4">OCR</span> từ
            <span style="color: #00a5f4">CMC</span> ?
          </h2>
          <div class="row">
            <div
              class="col-md d-flex justify-content-center"
              style="flex-direction: column"
            >
              <div class="d-flex align-items-center mb-3">
                <img src="../assets/verify.svg" alt="" veryfy />
                <h2 class="m-0 ms-2">Hỗ trợ đa ngôn ngữ</h2>
              </div>
              <p class="mb-3" style="color: #a9a9a9">
                Hỗ trợ tiếng Nhật, tiếng Việt và tiếng Anh, nhanh chóng và chính
                xác nhận dạng văn bản bằng cả ba ngôn ngữ.
              </p>
              <a
                class="mb-3"
                style="color: #00a5f4; text-decoration: none; cursor: pointer"
                >Find out more<span class="mx-2"
                  ><img src="../assets/Arrow Right.svg" alt="Arrow" /></span
              ></a>
            </div>
            <div class="col-md">
              <img
                class="img-solution"
                src="../assets/img-search.svg"
                alt="img-search"
              />
            </div>
          </div>
          <div class="row item3">
            <div class="col-md">
              <img
                class="img-solution"
                src="../assets/image 10.svg"
                alt="img-search"
              />
            </div>
            <div
              class="col-md d-flex justify-content-center"
              style="flex-direction: column"
            >
              <div class="d-flex align-items-center mb-3">
                <img src="../assets/verify.svg" alt="" veryfy />
                <h2 class="m-0 ms-2">Hỗ trợ tài liệu đa lĩnh vực</h2>
              </div>
              <p class="mb-3" style="color: #a9a9a9">
                Nhận dạng văn bản từ nhiều loại tài liệu khác nhau bao gồm hóa
                đơn, biên lai, hợp đồng và nhiều loại giấy tờ khác.
              </p>
              <a
                class="mb-3"
                style="color: #00a5f4; text-decoration: none; cursor: pointer"
                >Find out more<span class="mx-2"
                  ><img src="../assets/Arrow Right.svg" alt="Arrow" /></span
              ></a>
            </div>
          </div>
          <div class="row">
            <div
              class="col-md d-flex justify-content-center"
              style="flex-direction: column"
            >
              <div class="d-flex align-items-center mb-3">
                <img src="../assets/verify.svg" alt="" veryfy />
                <h2 class="m-0 ms-2">Dễ dàng tuỳ chỉnh</h2>
              </div>
              <p class="mb-3" style="color: #a9a9a9">
                Khả năng tùy chỉnh và điều chỉnh độ chính xác của OCR engine để
                phù hợp với yêu cầu cụ thể của ngành nghề của bạn
              </p>
              <a
                class="mb-3"
                style="color: #00a5f4; text-decoration: none; cursor: pointer"
                >Find out more<span class="mx-2"
                  ><img src="../assets/Arrow Right.svg" alt="Arrow" /></span
              ></a>
            </div>
            <div class="col-md">
              <img
                class="img-solution"
                src="../assets/image 11.svg"
                alt="img-search"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid block5" id="product">
        <!-- carousel-->
        <div class="title-carousel container">
          <div id="demo1" class="carousel slide" data-bs-ride="carousel">
            <div class="d-flex align-items-center mb-5">
              <h1 style="color: rgba(0, 165, 244, 1); width: 1300px">
                <span>Trải nghiệm sản phẩm ngay</span>
              </h1>
              <!-- Left and right controls/icons -->
              <div class="container justify-content-end p-0 d-flex mt-3">
                <div class="contain-btn">
                  <button
                    class="btn-carousel"
                    type="button"
                    data-bs-target="#demo1"
                    data-bs-slide="prev"
                  >
                    <span>
                      <img
                        src="../assets/previous-btn.svg"
                        alt="previous-btn"
                      />
                    </span>
                  </button>
                  <button
                    class="btn-carousel"
                    type="button"
                    data-bs-target="#demo1"
                    data-bs-slide="next"
                  >
                    <span>
                      <img src="../assets/next-btn.svg" alt="next-btn"
                    /></span>
                  </button>
                </div>
              </div>
            </div>
            <!-- content-->
            <div class="carousel-inner">
              <!-- slide 1-->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md card-contain">
                    <div class="card" style="height: 100%; border-radius: 10px">
                      <div
                        class="bg-image hover-overlay ripple rounded-0"
                        data-mdb-ripple-color="light"
                      >
                        <div class="container-fluid img"></div>
                      </div>
                      <div class="card-body">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="card-title">
                            <h5>Căn cước công dân (4 loại)</h5>
                            <span style="color: rgba(169, 169, 169, 1)"
                              >500+ proccessed</span
                            >
                          </div>
                          <div class="d-flex justify-content-center">
                            <img
                              class="p-md-1 my-1 me-2"
                              data-mdb-toggle="tooltip"
                              data-mdb-placement="top"
                              src="../assets/Arrow Right.svg"
                              alt="Arrow"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md card-contain">
                    <div class="row mb-4 card-con">
                      <div class="col-md card-contain">
                        <div
                          class="card"
                          style="height: 100%; border-radius: 10px"
                        >
                          <div
                            class="bg-image hover-overlay ripple rounded-0"
                            data-mdb-ripple-color="light"
                          >
                            <div class="container-fluid img1"></div>
                          </div>
                          <div class="card-body">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="card-title">
                                <h5>Căn cước công dân (4 loại)</h5>
                                <span style="color: rgba(169, 169, 169, 1)"
                                  >500+ proccessed</span
                                >
                              </div>
                              <div class="d-flex justify-content-center">
                                <img
                                  class="p-md-1 my-1 me-2"
                                  data-mdb-toggle="tooltip"
                                  data-mdb-placement="top"
                                  alt="Arrow"
                                  src="../assets/Arrow Right.svg"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md card-contain">
                        <div
                          class="card"
                          style="height: 100%; border-radius: 10px"
                        >
                          <div
                            class="bg-image hover-overlay ripple rounded-0"
                            data-mdb-ripple-color="light"
                          >
                            <div class="container-fluid img1"></div>
                          </div>
                          <div class="card-body">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="card-title">
                                <h5>Căn cước công dân (4 loại)</h5>
                                <span style="color: rgba(169, 169, 169, 1)"
                                  >500+ proccessed</span
                                >
                              </div>
                              <div class="d-flex justify-content-center">
                                <img
                                  class="p-md-1 my-1 me-2"
                                  data-mdb-toggle="tooltip"
                                  data-mdb-placement="top"
                                  src="../assets/Arrow Right.svg"
                                  alt="Arrow"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4 card-con">
                      <div class="col-md card-contain">
                        <div
                          class="card"
                          style="height: 100%; border-radius: 10px"
                        >
                          <div
                            class="bg-image hover-overlay ripple rounded-0"
                            data-mdb-ripple-color="light"
                          >
                            <div class="container-fluid img1"></div>
                          </div>
                          <div class="card-body">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="card-title">
                                <h5>Căn cước công dân (4 loại)</h5>
                                <span style="color: rgba(169, 169, 169, 1)"
                                  >500+ proccessed</span
                                >
                              </div>
                              <div class="d-flex justify-content-center">
                                <img
                                  class="p-md-1 my-1 me-2"
                                  data-mdb-toggle="tooltip"
                                  data-mdb-placement="top"
                                  src="../assets/Arrow Right.svg"
                                  alt="Arrow"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md card-contain">
                        <div
                          class="card"
                          style="height: 100%; border-radius: 10px"
                        >
                          <div
                            class="bg-image hover-overlay ripple rounded-0"
                            data-mdb-ripple-color="light"
                          >
                            <div class="container-fluid img1"></div>
                          </div>
                          <div class="card-body">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="card-title">
                                <h5>Căn cước công dân (4 loại)</h5>
                                <span style="color: rgba(169, 169, 169, 1)"
                                  >500+ proccessed</span
                                >
                              </div>
                              <div class="d-flex justify-content-center">
                                <img
                                  class="p-md-1 my-1 me-2"
                                  data-mdb-toggle="tooltip"
                                  data-mdb-placement="top"
                                  src="../assets/Arrow Right.svg"
                                  alt="Arrow"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- slide 2-->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md card-contain">
                    <div class="card" style="height: 100%; border-radius: 10px">
                      <div
                        class="bg-image hover-overlay ripple rounded-0"
                        data-mdb-ripple-color="light"
                      >
                        <div class="container-fluid img"></div>
                      </div>
                      <div class="card-body">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="card-title">
                            <h5>Căn cước công dân (4 loại)</h5>
                            <span style="color: rgba(169, 169, 169, 1)"
                              >500+ proccessed</span
                            >
                          </div>
                          <div class="d-flex justify-content-center">
                            <img
                              class="p-md-1 my-1 me-2"
                              data-mdb-toggle="tooltip"
                              data-mdb-placement="top"
                              src="../assets/Arrow Right.svg"
                              alt="Arrow"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md card-contain">
                    <div class="row mb-4 card-con">
                      <div class="col-md card-contain">
                        <div
                          class="card"
                          style="height: 100%; border-radius: 10px"
                        >
                          <div
                            class="bg-image hover-overlay ripple rounded-0"
                            data-mdb-ripple-color="light"
                          >
                            <div class="container-fluid img1"></div>
                          </div>
                          <div class="card-body">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="card-title">
                                <h5>Căn cước công dân (4 loại)</h5>
                                <span style="color: rgba(169, 169, 169, 1)"
                                  >500+ proccessed</span
                                >
                              </div>
                              <div class="d-flex justify-content-center">
                                <img
                                  class="p-md-1 my-1 me-2"
                                  data-mdb-toggle="tooltip"
                                  data-mdb-placement="top"
                                  alt="Arrow"
                                  src="../assets/Arrow Right.svg"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md card-contain">
                        <div
                          class="card"
                          style="height: 100%; border-radius: 10px"
                        >
                          <div
                            class="bg-image hover-overlay ripple rounded-0"
                            data-mdb-ripple-color="light"
                          >
                            <div class="container-fluid img1"></div>
                          </div>
                          <div class="card-body">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="card-title">
                                <h5>Căn cước công dân (4 loại)</h5>
                                <span style="color: rgba(169, 169, 169, 1)"
                                  >500+ proccessed</span
                                >
                              </div>
                              <div class="d-flex justify-content-center">
                                <img
                                  class="p-md-1 my-1 me-2"
                                  data-mdb-toggle="tooltip"
                                  data-mdb-placement="top"
                                  src="../assets/Arrow Right.svg"
                                  alt="Arrow"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4 card-con">
                      <div class="col-md card-contain">
                        <div
                          class="card"
                          style="height: 100%; border-radius: 10px"
                        >
                          <div
                            class="bg-image hover-overlay ripple rounded-0"
                            data-mdb-ripple-color="light"
                          >
                            <div class="container-fluid img1"></div>
                          </div>
                          <div class="card-body">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="card-title">
                                <h5>Căn cước công dân (4 loại)</h5>
                                <span style="color: rgba(169, 169, 169, 1)"
                                  >500+ proccessed</span
                                >
                              </div>
                              <div class="d-flex justify-content-center">
                                <img
                                  class="p-md-1 my-1 me-2"
                                  data-mdb-toggle="tooltip"
                                  data-mdb-placement="top"
                                  src="../assets/Arrow Right.svg"
                                  alt="Arrow"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md card-contain">
                        <div
                          class="card"
                          style="height: 100%; border-radius: 10px"
                        >
                          <div
                            class="bg-image hover-overlay ripple rounded-0"
                            data-mdb-ripple-color="light"
                          >
                            <div class="container-fluid img1"></div>
                          </div>
                          <div class="card-body">
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <div class="card-title">
                                <h5>Căn cước công dân (4 loại)</h5>
                                <span style="color: rgba(169, 169, 169, 1)"
                                  >500+ proccessed</span
                                >
                              </div>
                              <div class="d-flex justify-content-center">
                                <img
                                  class="p-md-1 my-1 me-2"
                                  data-mdb-toggle="tooltip"
                                  data-mdb-placement="top"
                                  src="../assets/Arrow Right.svg"
                                  alt="Arrow"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="container-fluid block6 d-flex align-items-center"
        id="pricing"
      >
        <div class="container">
          <h1 style="text-align: center; margin-bottom: 6rem">
            Xử lý tài liệu dễ dàng hơn bao giờ hết với AI
          </h1>
          <div class="contain-card">
            <div class="row">
              <div class="col-md">
                <div class="card card-price" style="text-align: center">
                  <div class="card-body">
                    <h2 class="card-title">Cơ bản</h2>
                    <h1 class="fw-bold fs-0 price">$ 3 .99</h1>
                    <p style="color: rgba(169, 169, 169, 1)" class="card-text">
                      Phù hợp cho đối tượng người dùng lẻ, số lượng < 1000 tài
                      liệu 1 tháng
                    </p>
                    <p class="fw-bold">
                      - 10GB lưu trữ tài liệu<br />
                      - File tối đa 1GB <br />
                      - Xử lý tối đa 1 file 1 thời điểm
                    </p>
                    <div class="btn btn-primary">Get plan</div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="card card-price" style="text-align: center">
                  <div class="card-body">
                    <h2 class="card-title">Cao cấp</h2>
                    <h1 class="fw-bold fs-0 price">$ 6 .99</h1>
                    <p style="color: rgba(169, 169, 169, 1)" class="card-text">
                      Phù hợp cho đối tượng người dùng lẻ, số lượng < 1000 tài
                      liệu 1 tháng
                    </p>
                    <p class="fw-bold">
                      - 10GB lưu trữ tài liệu<br />
                      - File tối đa 1GB <br />
                      - Xử lý tối đa 1 file 1 thời điểm
                    </p>
                    <div class="btn btn-primary">Get plan</div>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="card card-price" style="text-align: center">
                  <div class="card-body">
                    <h2 class="card-title">Doanh nghiệp</h2>
                    <h1 class="fw-bold fs-0 price">Liên hệ</h1>
                    <p style="color: rgba(169, 169, 169, 1)" class="card-text">
                      Phù hợp cho đối tượng người dùng lẻ, số lượng < 1000 tài
                      liệu 1 tháng
                    </p>
                    <p class="fw-bold">
                      - 10GB lưu trữ tài liệu<br />
                      - File tối đa 1GB <br />
                      - Xử lý tối đa 1 file 1 thời điểm
                    </p>
                    <div class="btn btn-primary">Contact us</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid block7">
        <div class="container">
          <div class="row">
            <div class="col-md">
              <img src="../assets/logo.svg" alt="logo" />
              <p style="color: #e9f8ff">
                Integer posuere erat a ante venenatis dapibus posuere velit
                aliquet. Integer posuere erat a ante venenatis dapibus posuere
                velit aliquet.
              </p>
              <div class="row">
                <div class="col-md text-white contain-product">
                  <h5>Product</h5>
                  <p style="margin-bottom: 0">Lorem</p>
                  <p style="margin-bottom: 0">Lorem</p>
                  <p style="margin-bottom: 0">Lorem</p>
                </div>
                <div class="col-md text-white contain-product">
                  <h5>Product</h5>
                  <p style="margin-bottom: 0">Lorem</p>
                  <p style="margin-bottom: 0">Lorem</p>
                  <p style="margin-bottom: 0">Lorem</p>
                </div>
                <div class="col-md text-white contain-product">
                  <h5>Product</h5>
                  <p style="margin-bottom: 0">Lorem</p>
                  <p style="margin-bottom: 0">Lorem</p>
                  <p style="margin-bottom: 0">Lorem</p>
                </div>
              </div>
              <div class="d-flex mt-3 mb-3">
                <div class="mx-1" style="cursor: pointer">
                  <img src="../assets/icon1.svg" alt="ball" />
                </div>
                <div class="mx-1" style="cursor: pointer">
                  <img src="../assets/icon2.svg" alt="instagram" />
                </div>
                <div class="mx-1" style="cursor: pointer">
                  <img src="../assets/icon3.svg" alt="tweeter" />
                </div>
                <div class="mx-1" style="cursor: pointer">
                  <img src="../assets/icon4.svg" alt="facebook" />
                </div>
              </div>
            </div>
            <div class="col-md form-register p-5">
              <h3>Ready to automate your data extraction? Let's talk.</h3>
              <div class="contain-inp">
                <div class="input1 mb-4">
                  <input
                    class="input"
                    style="margin-right: 20px"
                    placeholder="Your Name *"
                  />
                  <input class="input" placeholder="Your Name *" />
                </div>
                <div class="input1 mb-4">
                  <input
                    class="input"
                    style="margin-right: 20px"
                    placeholder="Company Name *"
                  />
                  <input class="input" placeholder="Phone Number *" />
                </div>
                <div class="row input2 mb-4" style="margin: 0">
                  <input class="input" placeholder="Company Name *" />
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <img
                  style="cursor: pointer"
                  src="../assets/Button (primary).svg"
                  alt="btn-register"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
