@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Lexend:300,400,600,700&display=swap");
html,
body {
  font-family: "Lexend", sans-serif;
}
.block1 {
  background: linear-gradient(
    326.86deg,
    #ddf4ff 11.71%,
    rgba(239, 239, 239, 0.1) 87.29%
  );
  height: 805px;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
}
.sm-icons {
  flex-direction: row;
}
.sm-icons .nav-link {
  padding-right: 1em;
}
.nav {
  z-index: 999999;
}
.input-title {
  max-width: 337px;
  height: 46px;
  border: none;
  background: #ffffff;
  border-radius: 100px;
  padding: 3px 3px 3px 20px;
  margin-bottom: 40px;
}
.under-nav {
  margin-top: 140px;
}
.video {
  max-height: 518px;
}
.title-carousel {
  max-width: 991px;
  margin-top: 200px;
  @media (max-width: 576px) {
    margin-top: 0;
  }
  @media (max-width: 768px) {
    margin-top: 10px;
  }
}
.btn-carousel {
  background: none;
  border: none;
}
.block3 {
  // height: 1316px;
  padding: 80px 110px;
  background: linear-gradient(0.27deg, #8ac9ff 0.25%, #f4faff 46.93%);
  @media (max-width: 416px) {
    padding: 10px 20px;
  }
  @media (max-width: 768px) {
    padding: 50px 50px;
  }
}
.block4 {
  // height: 2016px;
  padding: 80px 110px;
  @media (max-width: 416px) {
    padding: 10px 20px;
  }
  @media (max-width: 768px) {
    padding: 50px 50px;
  }
}
.block5 {
  // height: 854px;
  padding: 80px 110px;
  background: linear-gradient(359.67deg, #c4e4ff -5.42%, #f4faff 99.71%);
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    padding: 10px 20px;
  }
}
.block6 {
  // height: 796px;
  padding: 30px 0px 128px;
  @media (max-width: 416px) {
    padding: 10px 20px;
  }
  @media (max-width: 768px) {
    padding: 50px 50px;
  }
}
.block7 {
  // height: 550px;
  background: #05294e;
  padding: 80px 110px;
  @media (max-width: 416px) {
    padding: 10px 20px;
  }
  @media (max-width: 768px) {
    padding: 50px 50px;
  }
}
.form-register {
  height: 390px;
  background: #ffffff;
  border-radius: 20px;
}
.input {
  padding: 5px 10px;
  width: 100%;
  height: 34px;
  border: 1px solid #b9c1c8;
  border-radius: 8px;
}
.input1 {
  display: flex;
  justify-content: space-between;
}
.input2 {
  width: 100%;
}
.img {
  height: 451px;
  background: linear-gradient(
    300.93deg,
    #96ddff 16.4%,
    rgba(150, 221, 255, 0) 106.64%
  );
  border-radius: 10px;
}
.img1 {
  height: 146px;
  background: linear-gradient(
    300.93deg,
    #96ddff 16.4%,
    rgba(150, 221, 255, 0) 106.64%
  );
  border-radius: 10px;
}
.card-price {
  box-shadow: 0px 2px 15px rgba(0, 125, 183, 0.1);
  border-radius: 16px;
  border: none;
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.price {
  color: rgba(0, 165, 244, 1);
  font-size: 64px;
  @media (max-width: 990px) {
    font-size: 48px;
  }
}
.btn {
  border-radius: 100px;
  background-color: rgba(0, 165, 244, 1);
  border: none;
  box-shadow: 0px 2px 15px rgba(0, 125, 183, 0.1);
}
.img-demo {
  @media (max-width: 1030px) {
    display: none !important;
  }
}
.img-solution {
  width: 100%;
}
.item3 {
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}
.contain-btn {
  @media (max-width: 768px) {
    display: flex;
  }
}
.contain-product {
  @media (max-width: 768px) {
    width: fit-content !important;
  }
}
.card-contain {
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.card-con {
  @media (max-width: 768px) {
    margin-bottom: 0 !important;
  }
}
.contain-feature {
  @media (max-width: 576px) {
    justify-content: center;
  }
}
.text-carousel {
  @media (max-width: 576px) {
    font-size: 24px;
  }
}
.slide-text {
  @media (max-width: 576px) {
    display: none !important;
  }
}
